aiosqlite
amqp
annotated-types
anyio
APScheduler
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
async-lru
async-timeout
attrs
autopep8
babel
backcall
backports.zoneinfo
bcrypt
beautifulsoup4
billiard
bleach
blinker
bugsnag
cachetools
celery
certifi
cffi
chardet
charset-normalizer
cliapp
click
click-didyoumean
click-plugins
click-repl
cloudpickle
cmdtest
colorama
comm
command-not-found
confuse
crispy-bootstrap4
crispy-bootstrap5
cron-descriptor
cryptography
cupshelpers
dask
dbus-python
debugpy
decorator
defer
defusedxml
distlib
distro
distro-info
dj-database-url
Django
django-admin-material-dashboard
django-admin-volt
django-allauth
django-allauth-2fa
django-apscheduler
django-celery-beat
django-celery-results
django-ckeditor
django-cors-headers
django-countries
django-crispy-forms
django-environ
django-filter
django-js-asset
django-otp
django-ranged-response
django-recaptcha
django-simple-captcha
django-timezone-field
django-widget-tweaks
djangorestframework
dnspython
duplicity
email-validator
entrypoints
environ
et-xmlfile
exceptiongroup
executing
fastapi
fastapi-cli
fasteners
fastjsonschema
filelock
Flask
Flask-SQLAlchemy
flower
fsspec
future
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httptools
httpx
humanize
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
iso8601
itsdangerous
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter-lsp
jupyterlab
jupyterlab-server
keyring
kombu
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
locket
lockfile
louis
lxml
macaroonbakery
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
monotonic
mysql
mysql-connector-python
mysqlclient
nest-asyncio
netifaces
notebook-shim
numpy
oauthlib
olefile
openpyxl
overrides
packaging
pandas
pandocfilters
paramiko
parso
partd
pbr
pexpect
pickleshare
Pillow
pkgutil-resolve-name
platformdirs
prometheus-client
prompt-toolkit
proto-plus
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycairo
pycodestyle
pycparser
pycryptodome
pycups
pycurl
pydantic
pydantic-core
pygments
PyGObject
PyJWT
pymacaroons
PyMySQL
PyNaCl
pyparsing
pypika-tortoise
pypng
pyRFC3339
python-apt
python-crontab
python-dateutil
python-debian
python-decouple
python-dotenv
python-environ
python-json-logger
python-multipart
python3-openid
pytz
pyxdg
PyYAML
pyzmq
qrcode
redis
referencing
reportlab
requests
requests-oauthlib
requests-unixsocket
rest-framework-simplejwt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
SecretStorage
Send2Trash
shellingham
simplejson
six
sniffio
soupsieve
SQLAlchemy
sqlparse
sslcommerz-lib
stack-data
starlette
systemd-python
terminado
testresources
tinycss2
toml
tomli
toolz
tornado
tortoise-orm
traitlets
ttystatus
typer
typing-extensions
tzdata
tzlocal
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
Unipath
uritemplate
urllib3
usb-creator
uvicorn
uvloop
vine
virtualenv
wadllib
watchfiles
wcwidth
webencodings
WebOb
websocket-client
websockets
Werkzeug
whitenoise
widgetsnbextension
xkit
XlsxWriter
zipp
