asgiref
Django
django-cors-headers
django-environ
django-filter
djangorestframework
psycopg2-binary
sqlparse
typing_extensions
whitenoise
backports.zoneinfo
djangorestframework-simplejwt
pillow
PyJWT
rest-framework-simplejwt
